{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">

    <title>Crash & Compile 2017</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    {% if exercise_list %}

        {% for exercise in exercise_list %}
        {% if forloop.counter|divisibleby:2 %}
            <div style="padding-left:10px;padding-right:10px;background-color:#e6e6e6">
        {% else %}
            <div style="padding-left:10px;padding-right:10px;">
        {% endif %}
                {{ exercise.text|safe }}
            </div>
        {% endfor %}

    {% else %}

        <p>There are currently no exercises available. Please try again later.</p>

    {% endif %}

</body>
</html>